html, body {
    height: 100%;
  }

  body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
canvas {
  display: block;
}
img{
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}
#rectangle {
    border-radius: 15px 15px 0px 0px;
    background: #FFFFFF;
    box-shadow: -3px 3px 13px 2px rgba(0,0,0,0.50);
    width:90%;
    height:20%;
    position:fixed;
    bottom:0;
}
